%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description

%h3 Tasks
%table
  - @project.tasks.each do |task|
    %tr
      %td= task.name
      %td= task.description
      %td= task.done ? "Done" : "Busy"


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
